<ul class="nav nav-tabs">
  <li><a href="#all-countries" data-toggle="tab">All Countries</a></li>
  <% if current_admin.email == 'admin@eurohacktrip.org' %>
    <li><a href="#new-country" data-toggle="tab">
    <span class="glyphicon glyphicon-plus-sign"></span>Add Country</a>
  <% end %>
  </li>
</ul>
<!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active country" id="all-countries">
        <% all_countries.each do |country| %>
            <div class = "to-hide country">
            <div>
              <%= country.name %><br>
              <% if ENV["RAILS_ENV"] == 'production' %>
                <% begin %>
                  <%= image_tag country.avatar.url, size: "250x250" %><br>
                <% rescue Exception => e %>
                  <%= image_tag "/assets/flag/"+country+".png", size: "250x250" %><br>
                <% end %>
              <% end %>
              <%= country.description %><br>
              <%= country.map %>
            </div>
            <div class="hidden-links">
            <% if current_admin.email == 'admin@eurohacktrip.org' %>
              <%= link_to 'Edit', edit_country_path(country) %> |
              <%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %> | 
              <% if !country.show_in_nav %>
                <%= link_to 'Show in Navbar', country_show_path(country), method: :post, data: { confirm: 'Are you sure?' } %>
              <% else %>
                <%= link_to 'Don\'t show in Navbar', country_show_path(country), method: :post, data: { confirm: 'Are you sure?' } %>
              <% end %>
            <% end %>
            </div>
            <br>
          </div>
        <% end %>
      </div>
      <div class="tab-pane" id="new-country">
        <%= form_for(@country) do |f| %>
          <% if @country.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

              <ul>
              <% @country.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <%= f.label :description %>
            <%= f.text_area :description %>
          </div>
          <div class="field">
            <%= f.label :flag %>
            <%= f.file_field :avatar %>
          </div>
          <div>
            <%= f.check_box :show_in_nav, {checked: true, :class => 'checkbox inline', style: 'display: inline;'} %>
            <%= f.label :show_in_nav, {:class => 'badge badge-important'} %>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
      </div>

    </div>


