<ul class="nav nav-tabs">
        <li><a href="#all-countries" data-toggle="tab">All Countries</a></li>
        <li><a href="#new-country" data-toggle="tab">
          <span class="glyphicon glyphicon-plus-sign"></span>Add Country</a>
        </li>
</ul>
<!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active country" id="all-countries">
        <% all_countries.each do |country| %>
            <div class = "to-hide country">
            <div>
              <%= country.name %><br>
              <%= image_tag country.avatar.url, size: "250x250" %><br>
              <%= country.description %><br>
              <%= country.map %>
            </div>
            <div class="hidden-links">
            <%= link_to 'Edit', edit_country_path(country) %> |
            <%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %> | 
            <% if !country.show_in_nav %>
              <%= link_to 'Show in Navbar', country_show_path(country), method: :post, data: { confirm: 'Are you sure?' } %>
            <% else %>
              <%= link_to 'Don\'t show in Navbar', country_show_path(country), method: :post, data: { confirm: 'Are you sure?' } %>
            <% end %>
            </div>
            <br>
          </div>
        <% end %>
      </div>
      <div class="tab-pane" id="new-country">
        <%= form_for(@country) do |f| %>
          <% if @country.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

              <ul>
              <% @country.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <%= f.label :description %>
            <%= f.text_area :description %>
          </div>
          <div class="field">
            <%= f.label :flag %>
            <%= f.file_field :avatar %>
          </div>
          <div class="field">
            Click on the map below to pick the co-ordinates
            <div id="mapmaker" style="height:300px; width:400px">

            </div>
            <%= f.text_field :map %>

          </div>
          <div class="field">
             <%= f.check_box :show_in_nav, {checked: @country.show_in_nav, 
              :class => "checkbox inline" } %> 
             <%= f.label :show_in_nav %>
           
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
      </div>

    </div>


<script type="text/javascript">
  $(document).ready(function(){ 

  var mapmaker = L.map('mapmaker').setView([51.505, -0.09], 10); 
   // var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/{key}/22677/256/{z}/{x}/{y}.png',  
   // cloudmadeAttribution = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 FirstFuel',  
   // cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution, key: 'xxxxxxxxxxxx'  
   // }),  
   // latlng = new L.LatLng(<%= raw @lat.to_json %>,<%= raw @lng.to_json %>);  
   // fsMap = new L.Map('map', {center: latlng, zoom:15, zoomControl:false, layers: [cloudmade], scrollWheelZoom : false});     
  L.tileLayer('http://{s}.tile.cloudmade.com/5e9427487a6142f7934b07d07a967ba3/997/256/{z}/{x}/{y}.png', {
      attribution: 'EuroHackTrip',
      maxZoom: 18
  }).addTo(mapmaker);

  var marker = L.marker([51.5, -0.09]).addTo(mapmaker);


    marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();


    var popup = L.popup()
    .setLatLng([51.5, -0.15])
    .setContent("I am a standalone popup.")
    .openOn(mapmaker); 

    var popup = L.popup();//initialize a leaflet popup and assign it to a variable

    function onMapClick(e) {
        popup
            .setLatLng(e.latlng)
            .setContent("You clicked the mapmaker at " + e.latlng.toString())
            .openOn(mapmaker);//activate the 'popup'
    }

    mapmaker.on('click', onMapClick);


 });  
</script>
