<ul class="nav nav-tabs">
  <li><a href="#all-events" data-toggle="tab">All events</a></li>
  <li><a href="#new-event" data-toggle="tab">New events</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active event" id="all-events">
    <% all_events.each do |event| %>
      <div style="width:195px; text-align:center;">
        <iframe src="http://www.eventbrite.com/countdown-widget?eid=<%= event.event_id %>" frameborder="0" height="479" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe>
      </div>
    <% end %>
  </div>
  <div class="tab-pane event" id="new-event">
    <%= form_for(@event) do |f| %>
      <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
          <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :event_id %><br>
        <%= f.number_field :event_id %>
      </div>
      <div class="field">
        <%= f.label :country_id %><br>
        <%= f.select :country_id, Country.all.collect {|country| [ country.name, country.id] }, { include_blank: false } %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
