<ul class="nav nav-tabs">
  <li><a href="#all-people" data-toggle="tab">People</a></li>
  <% if current_admin.is_admin %>
    <li><a href="#new-person" data-toggle="tab">
    <span class="glyphicon glyphicon-plus-sign"></span>Add People</a></li>
  <% end %>
</ul>
<!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active person" id="all-people">
        <% all_people.each do |person| %>
            <div class = "to-hide person">
            <div>
              <% if ENV["RAILS_ENV"] == 'production' %>
                <% begin %>
                  <%= image_tag person.avatar.url, size: "250x250" %><br>
                <% rescue Exception => e %>
                <% end %>
                <% end %>
              <%= link_to person.name, person.online_profile_link %><br>
              <%= person.occupation %><br>
              <% if person.country_id > 0 %>
                <%= Country.find(person.country_id).name %>
              <% end %>
            </div>
            <div class="hidden-links">
            <% if current_admin.is_admin %>
              <%= link_to 'Edit', edit_person_path(person) %> |
              <%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            </div>
            <br>
          </div>
        <% end %>
      </div>
      <div class="tab-pane" id="new-person">
        <%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :online_profile_link %><br>
    <%= f.text_field :online_profile_link %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :occupation %><br>
    <%= f.text_field :occupation %>
  </div>
  <div class="field">
    <%= f.label :country_id %><br>
    <%= f.select :country_id, Country.all.collect {|country| [ country.name, country.id] }, { include_blank: false } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

      </div>

    </div>