<ul class="nav nav-tabs">
        <li><a href="#all-posts" data-toggle="tab">All Posts</a></li>
        <li><a href="#new-post" data-toggle="tab">New Post</a></li>
</ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active post" id="all-posts">
        <% all_posts.each do |post| %>
          <div class = "to-hide post">
          <div>
            <%= link_to post.title, edit_post_path(post) %>
            <% post.tag_list.each do |tag| %>
              <span class="label label-info"><%= link_to tag, tag_path(tag), style: "color:white;"%></span>
            <% end %>
          </div>
          <div class="hidden-links">
          <%= link_to "Edit", edit_post_path(post) %> |
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %> |
          <%= link_to "Edit", edit_post_path(post) %>
          </div>
        </div>
      <% end %>
      </div>
      <div class="tab-pane" id="new-post">
        <%= form_for(@post) do |f| %>
        <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
            <% @post.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class = "row">
          <div class = "span7" style="margin-right:15px;">
            <div class="field">
              <%= f.label :title %>
              <%= f.text_field :title, style: "width:550px;" %>
            </div>
            <div class="field">
              <%= f.label :content %>
              <%= f.text_area :content, style: "height:400px;width:550px;" %>
            </div>
            <div class="field">
              <%= f.label :tag_list, "Tags (Separated by commas)" %>
              <%= f.text_field :tag_list %>
            </div>
            <div class="actions">
              <%= f.submit "Publish", class: "btn btn-primary btn-lg" %>
              <a class="btn btn-primary btn-lg" role="button">Save as Draft</a>
            </div>
          </div>
          <div class="span5" style="height:600px; width:180px;">
            <fieldset>
              <legend>Post Settings</legend>
              <h4>Tags </h4>(Seperated by commas)
              <%= f.text_field :tag_list %>
              <hr>
            </fieldset>
          </div>
        </div>
      <% end %>

      </div>
    </div>