<div class = "row">
	<div class="span3">
		<ul class="nav nav-pills nav-stacked nav-tabs" id = "tab" style="max-width: 300px;">
	        <li class="active"><a href="#posts"  data-toggle="tab">Posts <span class = "badge pull-right"><%= posts_count %></span></a></li>
	        <li><a href="#comments" data-toggle="tab">Comments <span class = "badge pull-right"><%= comments_count %></span></a></li>
	        <li><a href="#categories" data-toggle="tab">Categories</a></li>
	        <li><a href="#stats" data-toggle="tab">Statistics</a></li>
	        <li><a href="#people" data-toggle="tab">People</a></li>
	        <li><a href="#countries" data-toggle="tab">Countries</a></li>
	        <li><a href="#settings" data-toggle="tab">Settings</a></li>
      	</ul>
	</div>


	<div class="span9">
		<!-- Tab panes -->
		<div class="tab-content well">
		  <div class="tab-pane active" id="posts">
		  	<ul class="nav nav-tabs">
			  <li><a href="#all-posts" data-toggle="tab">All Posts</a></li>
			  <li><a href="#new-post" data-toggle="tab">New Post</a></li>
			</ul>

		<!-- Tab panes -->
		<div class="tab-content">
		  <div class="tab-pane active post" id="all-posts">
			  <% all_posts.each do |post| %>
			  	<div class = "to-hide post">
				  <div>
				  	<%= link_to post.title, edit_post_path(post) %>
				  	<span class="label label-warning">Warning</span>
				  </div>
				  <div class="hidden-links">
					<%= link_to "Edit", edit_post_path(post) %> |
					<%= link_to "Edit", edit_post_path(post) %> |
					<%= link_to "Edit", edit_post_path(post) %>
				  </div>
				</div>
			<% end %>
		  </div>
		  <div class="tab-pane" id="new-post">
		  	<%= form_for(@post) do |f| %>
			  <% if @post.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

			      <ul>
			      <% @post.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

			  <div class="field">
			    <%= f.label :title %><br>
			    <%= f.text_field :title %>
			  </div>
			  <div class="field">
			    <%= f.label :content %><br>
			    <%= f.text_area :content %>
			  </div>
			  <div class="actions">
			    <%= f.submit %>
			  </div>
			<% end %>

		  </div>
		</div>
		  </div>
		  <div class="tab-pane" id="comments">
		  	<% all_comments.each do |comment| %>
		  	<div class="to-hide comment">
		  		<h3><%= comment.commenter %></h3>
			  	<h5><%= comment.content %></h5>
			  	<div class="hidden-links">
				  	<% if !comment.approved %>
		        		<%= link_to 'Approve', comment_approve_path(comment), method: :post, data: { confirm: 'Are you sure you want to approve this comment?' } %> |
		    		<% end %>
		    		<a href = "#">Delete</a>
	    		</div>
		  	</div>
		  	<% end %>
		  </div>
		  <div class="tab-pane" id="categories">
		  	
		  </div>
		  <div class="tab-pane" id="settings">
		  	
		  </div>
		  <div class="tab-pane" id="stats">
		  	
		  </div>
		  <div class="tab-pane" id="people">
		  	
		  </div>
		  <div class="tab-pane" id="countries">
		  	
		  </div>
		</div>
	</div>
</div>