<% provide(:title, 'Sign Up') %>

<div class="well mids" style="padding: 2em;">
<h2 style="display:inline">Sign up</h2> <a href="/admins/sign_in" class="pull-right">Sign In</a> 

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :funding_profile, "Geeks Gone Global funding campaign link ( http://geeksgoneglobal.com/fundyourtrip/campaigns/)" %><br />
  <%= f.text_field :funding_profile, class: "text" %></div><br />

  <div><%= f.label :video_link, 'Youtube Video' %>
  <%= f.text_field :video_link, class: "text" %></div><br />

  <div><%= f.label :first_name %>
  <%= f.text_field :first_name, :autofocus => true, class: "text" %></div><br />

  <div><%= f.label :last_name %>
  <%= f.text_field :last_name, class: "text" %></div><br />

  <div><%= f.label :email %>
  <%= f.email_field :email, class: "text" %></div><br />

  <div><%= f.label :password %>
  <%= f.password_field :password, class: "text" %></div><br />

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: "text" %></div><br />

  <div >
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div><br>

  <div><%= f.label :country, "Where are you from?" %>
  <%= f.text_field :country, class: "text" %></div><br />

  <div><%= f.label :tag_line %>
  <%= f.text_field :tag_line, class: "text" %></div><br />

  <div><%= f.label :activity, "What You Do" %><br />
  <%= f.text_area :activity, :class => 'ckeditor' %></div><br />

  <div><%= f.label :interest, "Your Interest in the trip" %><br />
  <%= f.text_area :interest, :class => 'ckeditor' %></div><br />

  <p>Please fill in the captcha below</p>
  <div>
    <%= recaptcha_tags %>
  </div>
  <br>
  <div><%= f.submit "Sign up", class:"button button-icon icon icon-sign-up" %></div>
<% end %>

</div>