<% provide(:title, 'The Team') %>
<h2 style="padding-top: 10px;">The Team</h2>
<% @users.each do |user| %>
	<div class="row" style="border-bottom: dotted 1px #aaa; padding-top:10px;">
		<div class = "col-sm-3">
			<%= image_tag("/assets/avatar.png", style: "width: 220px;") %>
		</div>
		<div class="col-sm-9">
			<% if user.first_name && user.last_name || user.activity %>
				<p class="name"><%= link_to user.first_name + " " + user.last_name, user_path(user) %></p>
				<%= user.activity %><br>
				<br>
			<% end %>
			<table width="100%">
				<% posts_by_author(user)[0, 5].each do |post| %>
					<tr>
						<td class="author-posts">
							<%= link_to post.title, post %><br>
						</td>
					</tr>
				<% end %>
				<% if posts_by_author(user).length > 5 %>
					<tr>
						<td style="text-align:right;">
							<%= link_to 'More posts by this user', author_path(user) +"/posts" %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
<% end %>