<% if @user.first_name && @user.last_name %>
	<% provide(:title, @user.first_name + " " + @user.last_name) %>
<% end %>
<div class = "row" style="padding-top: 10px;">
    <div class = "col-sm-3">
		<%= image_tag("/assets/avatar.png", style: "width: 220px;") %>

		<% if @user.first_name && @user.last_name %>
				<p class="name"><%= @user.first_name + " " + @user.last_name %></p>
				<%= @user.activity %><br>
				<% if posts_by_author(@user).length > 0 %>
					<%= link_to "Authored: " + pluralize(posts_by_author(@user).length, "post"), "/" + @user.first_name + "-" + @user.last_name + "/posts" %>.
				<% end %>
		<% end %>
	</div>
	<div class = "col-sm-9">
		<% posts_by_author(@user).each do |post| %>
			<p><%= link_to post.title, post %></p>
		<% end %>
	</div>
</div>
