<% provide(:title, @title) %>



<!-- Banner -->
<section  class="banner text">
	<!-- <p class="mids">Connecting Innovative Startups From <strong>Africa</strong> & <strong>Europe</strong></p> -->
	<p class="mids">An <strong>Opportunity</strong> for <strong>Innovative Startups</strong> From <strong>Africa</strong></p>
</section>


<section class="cities">
	<div class="container owl-carousel">
		<% @cities = City.where('year', '2014') %>
		<% if !@cities.blank? %>
			<% @cities.each do |city| %>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="servicebox text-center">
                    <div class="service-icon">
                        <div class="servicetitle">
                        	<h4><%= link_to city.name, city_path(city.slug) %></h4>
                        	<span class="text-center"><%= city.dates %></span>
                        	<hr>
                        </div>
                    	<div class="dm-icon-effect-1 he-wrap" data-effect="slide-left">
                            <%= link_to image_tag(city.photo.url, class: "lazyOwl"), city_path(city.slug) %>
                        </div>
                        <%= raw shorten(city.description, 250) %>  <%= link_to ' ...more', city_path(city.slug), class: 'red' %>
                    </div><!-- service-icon -->
                </div><!-- servicebox -->
            </div><!-- large-3 -->
			<% end %>
		<% end %>
	</div><!-- end container -->
</section><!-- end section -->

<!-- Banner -->
<section class="banner text">
	<p class="mids">To Exchange <strong>Ideas</strong> About <strong>Homegrown Solutions</strong></p>
	
</section>


<section class="startups text-center">
	<div class="container">
		<% Startup.where(year:2014).each do |startup| %>
			<div class="widget _w20 col-sm-12">
			<% if startup.users.first && startup.users.first.approved %>
	            <div class="service-icon text-center">
	               <!--  <div class="dm-icon-effect-1" data-effect="slide-left">
	                    <%= link_to raw('<i class="dm-icon fa '+startup.category.to_s+' fa-4x"></i>'), startup %>
	                </div> -->
	                <div class="servicetitle">
	                    <a class="img" href="<%= startup_path(startup) %>">
							<img src="<%= startup.logo %>" alt="<%= startup.name %>" class="_w100" />
		                </a>
	                    <hr>
		                <br>
	                    <h4><%= link_to startup.name, startup %></h4>
	                    <span><%= startup.tagline %></span>&nbsp;<span class="badge"><%= startup.city %></span>
	                </div>
	            </div><!-- service-icon -->
			<% end %>
	    </div><!-- end widget -->  
		<% end %>
	</div><!-- end container -->  

	<% if !current_user || current_user.startups.blank?  %>
			<!-- <a href="/startups/new" class="btn btn-danger glow add-startup">Add Your Startup!</a> -->
	<% end %>


</section><!-- end section -->



<!-- Banner -->
<section class="banner text">
	<p class="mids">And Find <strong>Capital</strong>, <strong>Market</strong> & <strong>Industry Opportunities</strong></p>
</section>

<section class="stops text-center">
	<div class="container">
		<% @stops = Stop.where(year:'2014') %>
		<% @stops.each do |stop| %>
	    <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="servicebox text-center">
                <div class="service-icon">
                    <div class="servicetitle">
                    	<h4><%= link_to stop.name, stop.city %></h4>
                    	<span class="text-center"><%= stop.dates %></span>
                    	<hr>
                    </div>
                	<div class="dm-icon-effect-1 he-wrap" data-effect="slide-left">
                        <%= link_to image_tag(stop.pic.url, class: "lazyOwl glow"), stop.city %>
                    </div>
                    <%= raw shorten(stop.description, 250) %>  <%= link_to ' ...more', stop.city, class: 'red' %>
                </div><!-- service-icon -->
            </div><!-- servicebox -->
        </div><!-- large-3 -->
		<% end %>
		<div class="widget col-sm-12">
            <div class="service-icon text-center">
                <div class="dm-icon-effect-1 effect-slide-left in" data-effect="slide-left" style="-webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;">
                    <a href="/events/slush"><i class="dm-icon fa fa-asterisk fa-4x"></i></a>
                </div>
                <div class="servicetitle">
                    <h4><a href="/events/slush">Slush</a></h4>
                    <hr>
                    <h4>
                    	"Slush is the focal point for Eurasian startups and tech talent to meet with top-tier international investors, executives and media. In 2013, Slush gathered 7000 attendees and 1200 companies from 68 countries for the two-day event." - http://slush.org
	                    	<br>
	                        <a href="http://slush.org">http://slush.org</a>
                    </h4>
                </div>
            </div><!-- service-icon -->
        </div>
	</div><!-- end container -->  
</section><!-- end section -->



<!-- Partners -->
<section class="banner" id="partners" >
	<p class="title red"><%= link_to 'Partners', partners_path %></p>
	<ul class="partners">
		<%  Partner.where(year: Time.now.year).order('tier ASC').limit(10).each do |partner| %>
			<li>
				<a href="<%= partner_path(partner) %>">
				<img src="<%= partner.logo.url %>" alt="<%= partner.name %>"/>
				<br>
				
				<%= partner.name %> 

				<div class="overlay">
                    <a href="<%= partner_path(partner) %>" class="expand">
	                    <% t = partner_tiers[partner.tier][0] %> 
	                    <img src="/assets/partnership/<%= partner.tier %>.png" alt="<%= t %>">
	                    <br>
	                    <%= t %>
                    </a>
                    <a class="close-overlay hidden">x</a>
                </div>

				</a>
			</li>
		<% end %>
	</ul>
	<div class="">
		<a class="pull-left 4u red" href="/partners">SHOW MORE...</a>
		<a class="pull-right 4u red" href="/partnership">INTERESTED?</a>
	</div>
	<!-- <a class="footer" href="#contact">Interested In Joining Us?</a> -->
</section>