<div>
	<div class="row about">
		<div class="12u">
			<section class="text-center">
				<h2 class="_f30">AN EXCHANGE PROGRAMME FOR STARTUPS FROM AFRICA AND EUROPE</h2>
				<p class="_f20">
We believe in the serendipity when people from diverse backgrounds come together to exchange ideas, build together and extend their networks.
				</p>
				<hr>
				<i class="_f25">
A group of startups from the four corners of Africa will travel across 4 cities in Europe to meet, exchange and network with other startups in Europe that venture in the same fields.
				</i>
				<hr>
<img src="/assets/graphics/africa2europe.png" alt="" class="afri2eu">
			</section>
		</div>
		<div class="12u">
			<section class="text-center">
				<h2 class="_f30 _in-block">THE MISSION<hr></h2>
				<p class="_f25 text-center">
We want to connect innovative minds across Europe and Africa. <br>
This will catalyze more innovation and influence more success stories from both continents. <br>
We also want to uphold a continuous and mutually benefitial exchange between the two continents. 
				</p>
			</section>
		</div>

		<div class="12u text-center">
			<h2 class="text-center _f30">THE EXCHANGE</h2>
				<hr>
			<p class="_f25 text-center">
We will tour 4 different cities in Europe spending some time in each city. <br> 
Each of the four cities will have its own theme and that will be the topic of the exchange. <br>
Activities in the city may include the following:
			</p>
		</div>

		<div class="3u text-center">
<img src="/assets/graphics/peer_program.png" alt="">
			<h4>PAIR PROGRAMMING</h4>
			<p class="">
Building software together in pairs. Pair programming is an agile software development technique in which two programmers work together at one workstation. One, the driver, writes code while the other, the observer, pointer or navigator, reviews each line of code as it is typed in. The two programmers switch roles frequently.
			</p>
		</div>
		<div class="3u text-center">
<img src="/assets/graphics/design_stack.png" alt="">
			<h4>INTERACTIVE DESIGNING</h4>
			<p class="">
Fun and interactive design on the web using modern tools. HTML5, CSS3 and JavaScript are the newest stars of the web: the cornerstones of progressive enhancement, the easiest way to build web applications for desktop and mobile devices, and a brilliant foundation upon which we can add complex interaction and animation layers to the web. :)
			</p>
		</div>
		<div class="3u text-center">
<img src="/assets/graphics/hardware.png" alt="">
			<h4>HARDWARE HACKING</h4>
			<p class="">
Coming up with innovative solutions using microcontrollers, hardware and computer circuit design. Nowadays it is easy to research, design, develop, and test new systems using fairly affordable microcontrollers, circuit boards, memory devices, networks, and routers, and other embedded sensors. These include the Arduino or Raspberry Pi. 
			</p>
		</div>
		<div class="3u text-center">
<img src="/assets/graphics/video_camera.png" alt="">
			<h4>FILM DOCUMENTARY!</h4>
			<p class="">
The trip will be documented on a film. This will cover the Events, interviews and the travel experience. The film will be published by the end of the year to serve as a motivational and educational piece for more startups that may not get the same opportunity. There will also be plenty of blogs and photos.
			</p>
		</div>

		<div class="12u text-center">
			<h2 class="">THE NETWORKING</h2>
			<hr>
			<p class="_f25 text-center">
On the final day of the visit the EuroHackers will convene with the local startups at one tech center,discuss the pressing issues in their sector and network and more about each other. We will also invite informative guests to share their advice. The following activities might take place:
			</p>
		</div>

		<div class="3u text-center">
<img src="/assets/graphics/pitch.png" alt="">
			<h4>PITCHING</h4>
			<p class="_f20">
			</p>
		</div>
		<div class="3u text-center">
<img src="/assets/graphics/round_table.png" alt="">
			<h4>ROUND TABLES PANELS</h4>
			<p class="_f20">
			</p>
		</div>
		<div class="3u text-center">
<img src="/assets/graphics/network.png" alt="">
			<h4>OPEN NETWORKING</h4>
			<p class="_f20">
			</p>
		</div>
		<div class="3u text-center">
<img src="/assets/graphics/keynote.png" alt="">
			<h4>GUEST KEYNOTES</h4>
			<p class="_f20">
			</p>
		</div>
			
		<div class="12u text-center">	
			<h2>THE ATTENDEES</h2>
			<hr>
			<p class="_f25 text-center">
We are looking for the most passionate young people doing innovative startups in Africa and Europe.
			</p>
		</div>
			
		<div class="12u">	
			<h4>WHO CAN JOIN?</h4>
			<p class="_f20">
All developers, designers, marketers, entrepreneurs and all innovators in technology from all backgrounds can join. <br>
We are encouraging diversity in technology so our selection process will reflect that. 
			</p>
			<h4>COSTS FOR THE TRIP?</h4>
			<p class="_f20">
The round trip, accomodation and food will be provided.
			</p>
			<h4>HOW DO I JOIN?</h4>
			<p class="_f20">
1. Make sure you have a startup from Africa or Europe that fits in one of the four categories listed 
<%= link_to 'this year', '/'+Time.now.year.to_s %>. 
			<br>
2. Sign up <%= link_to 'here.', 'http://www.eurohacktrip.org/register' %>
			</p>
		</div>


		<div class="12u text-center">
<img src="/assets/photos/aht_team.jpg" alt="">
			<h2>THE INSPIRATION</h2>
			<hr>
			<p class="_f20 text-center">
It all started with <%= link_to 'Africahacktrip 2013', 'http://www.africahacktrip.org' %>, when a group of 9 hackers from Europe decided to visit East Africa and witness the tech Landscape. <br>
That led to this cascading effect and we promised to uphold this exchange between the two countries.
			</p>
		</div>
		
		<div class="_w100 text-center">
			<h2>THE ORGANIZERS</h2>
			<hr>
			<div class="center-me row">
				<div class="3u">
						<%= link_to image_tag('/assets/photos/tim.jpg'), '/users/2' %>
						<h4>TIMOTHY MWIRABUA</h4>
						<h4>LEAD, <%= link_to 'NAIROBIJS', 'http://nairobijs.github.io' %>
							, <%= link_to 'CODERHUNT', 'http://coderhunt.com' %></h4>
						<h4>LEAD, STRATEGIST</h4>
				</div>
				<div class="3u">
						<%= link_to image_tag('/assets/photos/brian.jpg'), '/users/3' %>
						<h4>BRIAN HENIA</h4>
						<h4>CLIENT RELATIONS, <%= link_to '*iHub_', '/partners/6' %></h4>
						<h4>OUTREACH, FINANCE</h4>
				</div>
				<div class="3u">
						<%= link_to image_tag('/assets/photos/douglas.jpg'), '/users/3' %>
						<h4>DOUGLAS OGETO</h4>
						<h4>COUNTRY MANAGER, <%= link_to 'AMPION', 'http://ampion.org' %></h4>
						<h4>PROGRAM MANAGER</h4>
				</div>
				<div class="3u">
						<%= link_to image_tag('/assets/photos/muaad.jpg'), '/users/3' %>
						<h4>MUAAD ABDIRAHMAN</h4>
						<h4>WEB DEVELOPER, <%= link_to 'SPROUT', 'http://sprout.co.ke' %></h4>
						<h4>WEB DEVELOPER, STRATEGIST</h4>
				</div>
				<!-- <div class="4u">
						<%= link_to image_tag('/assets/photos/mugethi.jpg'), '/users/33' %>
						<h4>MUGETHI GITAU</h4>
						<h4>COMMUNITY MANAGER, <%= link_to '*iHub_', '/partners/6' %></h4>
						<h4>OUTREACH, COMMUNITY</h4>
				</div> -->
				<!-- <div class="3u">
						<%= link_to image_tag('/assets/photos/njeri.jpg'), '/users/10' %>
						<h4>MARTHA CHUMO</h4>
						<h4>FOUNDER, <%= link_to 'NAIROBI DEV SCHOOL', '/startups/6' %></h4>
						<h4>OUTREACH, STRATEGY</h4>
				</div>
				<div class="3u">
						<%= link_to image_tag('/assets/photos/michael.jpg'), '/users/10' %>
						<h4>MICHAEL GATHOGO</h4>
						<h4>PROJECT MANAGER, <%= link_to 'CLADLIGHT', '/startups/3' %></h4>
						<h4>OUTREACH, VIDEOGRAPHER</h4>
				</div> -->
			</div>
		</div>

		<div class="12u text-center">
			<span class="parting-shot">
				<a href="#donate">
					<span class="icon64 icon64-3"></span>
					<h2 class="_white">SUPPORT US</h2>
				</a>
				<p class="_f20 text-center">
We will organize this trip every year at no cost for the Startups involved. <br>
We are inviting all supporters to contribute and make this possible. <br>
Kindly check out our partnership deck <b><%= link_to 'here.', '/partnership', class:"mula" %></b>
				</p>
			</span>
		</div>
	</div>
</div>
