<% provide(:title, 'Home') %>
 <!-- Carousel -->
 <div class="carousel">
	<div class="reel">
		<% Admin.all.each do |user| %>
			<% if user.approved %>
			<a href="<%= user_path(user) %>">
			<article>
				<%if user.photo.url %>
					<%= image_tag(user.photo.url, style: "width: 220px;") %>
				<% end %>
				<header>
					<% if user.first_name && user.last_name %>
						<h3><a href="#"><%= user.first_name + " " + user.last_name %></h3>
					<% end %>
				</header>
				<% if user.tag_line %>
					<p><%= user.tag_line.split("")[0, 150].join + "..." %></p>
				<% end %>							
			</article>
			</a>
			<% end %>
		<% end %>
	</div>
</div>

<div id="banner-wrapper">
	<div class="inner">

		<!-- Banner -->
			<section id="banner" class="mids">
				<p>Barcelona to Vienna<br/>
				A Campaign for <strong>Diversity</strong> in The Tech Community.</p>
				
			</section>

	</div>
</div>
<div class="homewrap">
 <% if HomePageContent.all.count != 0 %>
  <%= raw HomePageContent.first.content %>
 <% end %>
 <% if admin_signed_in? && current_admin.is_admin %>
    <span class="admin">
      <%= link_to 'Edit', edit_home_page_content_path(HomePageContent.first) %>
    </span>
  <% end %>
</div>