<div>
	<div class="row partnership">
		<div class="12u text-center">
			<!-- <h2 class="_f30">PARTNERSHIP DECK</h2> -->
			<!-- <p class="_f20 text-center">
				"Development can be inclusive - and reduce poverty - only if all groups of people contribute to creating opportunities, share the benefits of development and participate in decision-making." undp.org
			</p>
			<hr>
			<i class="_f25 text-center">
				Let us join hands to support inclusive development and end inequity in our world.
			</i>
			<hr> -->
			
			<h2 class="_f30 _in-block">PARTNERSHIP TIERS<hr></h2>
			<br>
			
			<img src="/assets/partnership/handshake.png" alt="HandShake" class="handshake">
			
			<p class="text-center"> <br>
			We are 
			<%= link_to "inviting", "/assets/docs/Proposal.pdf", target:"_blank" %>
			partners to sponsor EuroHackTrip. <br>
			Sponsorship can be financial or in kind. <br>
			<%= link_to "View our budget", "/budget", target:"_blank" %>  <br>

			Become our partner below and help us cover the budget.
			</p>
		</div>

		<div class="4u text-center">
			<%= link_to image_tag("/assets/partnership/0.png"), '#contact', target:"_blank" %>
			<h2 class="_f25">GOLD</h2>
			<div class="header">
				<p> USD $50,000+ </p>
				<hr>
			</div>
			<p> Get featured on our website </p>
			<p> Get to dine with the organizers </p>
			<p> Place your logo throughout the film </p>
			<p> Get featured on our tshirts </p>
			<p> Get featured on our banners </p>
			<p> Send your guest speaker to our events </p>
			<p> Vote startups/destination for next year </p>
		</div>

		<div class="4u text-center">
			<%= link_to image_tag("/assets/partnership/1.png"), '#contact', target:"_blank" %>
			<h2 class="_f25">SILVER</h2>
			<div class="header">
				<p> USD $20,000+ </p>
				<hr>
			</div>
			<p> Get featured on our website </p>
			<p> Video hangout with the organizers </p>
			<p> Get featured on the film </p>
			<p> Get featured on our tshirts </p>
			<p> Get featured on our banners </p>
			<p> Send your guest speaker to our events </p>
		</div>

		<div class="4u text-center">
			<%= link_to image_tag("/assets/partnership/2.png"), '#contact', target:"_blank" %>
			<h2 class="_f25">BRONZE</h2>
			<div class="header">
				<p> USD $5,000+ </p>
				<hr>
			</div>
			<p> Get featured on our website </p>
			<p> Get to meet the attendee </p>
			<p> Get your name credited on the film  </p>
		</div>

		<div class="_w100 clearfix">
			<hr>
		</div>

		<div class="4u text-center">
			<%= link_to image_tag("/assets/partnership/3.png"), '#contact', target:"_blank" %>
			<h2 class="_f25">STRATEGIC</h2>
			<div class="header">
				<p> Provide air Tickets/Discounts </p>
				<p> Provide accomodation/Discounts </p>
				<hr>
			</div>
			<p> Get featured on our website </p>
			<p> Hangout with the organizers </p>
			<p> Get featured on the film </p>

		</div>

		<div class="4u text-center">
			<%= link_to image_tag("/assets/partnership/4.png"), '#contact', target:"_blank" %>
			<h2 class="_f25">MEDIA</h2>
			<div class="header">
				<p> Cover our story throughout the trip </p>
				<p> Shoot our film documentary </p>
				<hr>
			</div>
			<p> Get featured on our website </p>
			<p> Get your name credited on the film </p>
			<p> Send your reporter </p>
			<p> Produce the film </p>
		</div>

		<div class="4u text-center">
			<%= link_to image_tag("/assets/partnership/5.png"), '#contact', target:"_blank" %>
			<h2 class="_f25">OUTREACH</h2>
			<div class="header">
				<p> Represent us to partners </p>
				<p> Connect us to great startups </p>
				<hr>
			</div>
			<p> Get featured on our website </p>
			<p> Get your name credited on the film </p>
			<p> Send a representative to the trip</p>
		</div>

		<div class="_w100 clearfix">
			<br>
		</div>

		<div class="12u text-center">
			<span class="parting-shot">
				<a href="#donate">
					<span class="icon64 icon64-3"></span>
					<h2 class="_white">HAPPY TO GIVE?</h2>
				</a>
				<p class="_f20 text-center">
					Contact us below if you are interested to be our partner. <br>
					Other contributions will be highly appreciated. <br>
					<!-- Check out our budget <b><%= link_to 'here.', '/budget', class:"mula" %></b> -->
				</p>
			</span>
		</div>
	</div>


</div>
