<div>
	<div class="row about">
		<div class="_w100 text-center">
			<h2>THE ORGANIZERS</h2>
			<hr>
			<div class="center-me row">
				<div class="4u">
						<%= link_to image_tag('/assets/photos/tim.jpg'), '/users/2' %>
						<h4>TIMOTHY MWIRABUA</h4>
						<h4>LEAD, <%= link_to 'NAIROBIJS', 'http://nairobijs.github.io' %>
							, <%= link_to 'CODERHUNT', 'http://coderhunt.com' %></h4>
						<h4>LEAD, STRATEGIST</h4>
				</div>
				<!--<div class="3u">
						<%= link_to image_tag('/assets/photos/reuben.jpg'), '/users/3' %>
						<h4>REUBEN CUMMINGS</h4>
						<h4>FOUNDER, <%= link_to 'AMPION', 'http://ampion.org' %></h4>
						<h4>PROGRAM MANAGER</h4>
				</div>-->
				<div class="4u">
						<%= link_to image_tag('/assets/photos/brian.jpg'), '/users/3' %>
						<h4>BRIAN HENIA</h4>
						<h4>CLIENT RELATIONS, <%= link_to '*iHub_', '/partners/6' %></h4>
						<h4>OUTREACH, FINANCE</h4>
				</div>
				<div class="4u">
						<%= link_to image_tag('/assets/photos/muaad.jpg'), '/users/3' %>
						<h4>MUAAD ABDIRAHMAN</h4>
						<h4>WEB DEVELOPER, <%= link_to 'SPROUT', 'http://sprout.co.ke' %></h4>
						<h4>WEB DEVELOPER, STRATEGIST</h4>
				</div>
				<!-- <div class="3u">
						<%= link_to image_tag('/assets/photos/douglas.jpg'), '/users/3' %>
						<h4>DOUGLAS OGETO</h4>
						<h4>COUNTRY MANAGER, <%= link_to 'AMPION', 'http://ampion.org' %></h4>
						<h4>PROGRAM MANAGER</h4>
				</div> -->
				<!-- <div class="4u">
						<%= link_to image_tag('/assets/photos/mugethi.jpg'), '/users/33' %>
						<h4>MUGETHI GITAU</h4>
						<h4>COMMUNITY MANAGER, <%= link_to '*iHub_', '/partners/6' %></h4>
						<h4>OUTREACH, COMMUNITY</h4>
				</div> -->
				<!-- <div class="3u">
						<%= link_to image_tag('/assets/photos/njeri.jpg'), '/users/10' %>
						<h4>MARTHA CHUMO</h4>
						<h4>FOUNDER, <%= link_to 'NAIROBI DEV SCHOOL', '/startups/6' %></h4>
						<h4>OUTREACH, STRATEGY</h4>
				</div>
				<div class="3u">
						<%= link_to image_tag('/assets/photos/michael.jpg'), '/users/10' %>
						<h4>MICHAEL GATHOGO</h4>
						<h4>PROJECT MANAGER, <%= link_to 'CLADLIGHT', '/startups/3' %></h4>
						<h4>OUTREACH, VIDEOGRAPHER</h4>
				</div> -->
			</div>
		</div>
		<div class="12u text-center">
			<h2>THE INSPIRATION</h2>
			<hr>
			<p class="_f20 text-center">
It all started with <%= link_to 'Africahacktrip 2013', 'http://www.africahacktrip.org' %>, when a group of 9 hackers from Europe decided to visit East Africa and witness the tech Landscape. <br>
That led to this cascading effect and we promised to uphold this exchange between the two countries.
			</p>
			<img src="/assets/photos/aht_team.jpg" alt="AFRICAHACKTRIP 2013 TEAM">
		</div>
		
	</div>
</div>
