<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>EventBrite ID</th>
      <th>Event Name</th>
      <th>Event Venue</th>      
      <th>City</th>
      <th>Event Link</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.event_id %></td>
        <td><%= event.event_name %></td>
        <td><%= event.event_venue %></td>
        <td><%= City::find(event.city_id).name %></td>
        <td><%= event.event_link %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
