<% provide(:title, 'Pages | ') %>
<link rel="stylesheet" type="text/css" href="/assets/bootstrap.css">
<br>
<%= link_to 'New Page', new_page_path, class: "btn btn-primary pull-right" %>
<br>
<% @pages.each do |page| %>
  <div class = "to-hide page">
    <div>
      <%= link_to page.name, edit_page_path(page) %>
      
    </div>
    <div class="hidden-links">
      <%= link_to "Edit", edit_page_path(page) %> |
      <%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to 'View', page %>
    </div>
    <br>
  </div>
<% end %>