<% provide(:title, 'Login') %>
<div class="well mids" style="padding: 2em;">
<h2 style="display:inline">Sign In</h2> <a href="/admins/sign_up" class="pull-right">Sign Up</a> 

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, class:"text" %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, class:"text" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in", class:"button button-icon icon icon-signin" %></div>
<% end %>

</div>
