<%= form_for(@country) do |f| %>
  <% if @country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% @country.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :class => 'ckeditor' %>
  </div>
  <div class="field">
    <%= f.label :flag %>
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
   <%= f.check_box :show_in_nav, {checked: @country.show_in_nav} %>
   <%= f.label :show_in_nav, class:"badge badge-important" %>   
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
