<div id="map">

</div>

<div class = "row">
	<div class="span8">

		<legend><h4>Events we organize</h4></legend>

		<ol>	
		<% all_events.each do |event| %>
			<% if event.country_id == @country.id %>
				<li>
				<a href="<%= event.event_link %>"><%= event.event_name %></a>
				</li>
			<% end %>
		<% end %>
		</ol>
	</div>
	<div class="span3 well pull-right" style="background-color:white;">
		<legend><h4><%= @country.name %></h4></legend>
		<div><%= image_tag(@country.avatar.url) %></div>
		<div><%= @country.description %></div>
	</div>
</div>
<div>
	<legend>
		<h4>We are looking forward to meet</h4>
	</legend>
	 <div class="row" style="margin-bottom:10px;">
	 	<% all_people.each do |person| %>
	 		<% if @country.id == person.country_id %> 
	 			<div class="col-sm-3 col-md-2">
	 				<div class="thumbnail">
	 					<%= image_tag person.avatar.url, size: "200x150" %>
	 					<div class="caption">
	 						<h3><%= link_to person.name, "http://" + person.online_profile_link, class: "links" %></h3>
	         			    <%= person.occupation %><br>
	         			    <%= Country.find(person.country_id).name %>
	 					</div>
	 				</div>
	 			</div>
	 		<% end %>
	 	<% end %>
	 </div>
	 <hr>
</div>
<div class="row">
	<div class="span8">
		<% all_posts.tagged_with(@country.name).each do |post| %>
			<h2><%= raw post.title %></h2><br>
			<pre>Posted at <%= post.created_at %><span class="pull-right">Share:</span></pre><br><br>
			<!--<%= post.created_at %> -->
			<%= raw post.content %><br><br>
			<% if post.comments.count > 0 %>
				<%= link_to pluralize(post.comments.count, " comment") + " so far.", "/posts/"+post.id.to_s+"#comments", class: "links" %>
			<% else %>
				<%= link_to "Leave a Comment", "/posts/"+post.id.to_s+"#add-comment", class: "links" %>
			<% end %>
		<% end %>
	</div>
	<div class="span4"></div>
</div>	 


<script type="text/javascript">
  $(document).ready(function(){ 
  var map = L.map('map').setView([51.505, -0.09], 13); 
   // var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/{key}/22677/256/{z}/{x}/{y}.png',  
   // cloudmadeAttribution = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 FirstFuel',  
   // cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution, key: 'xxxxxxxxxxxx'  
   // }),  
   // latlng = new L.LatLng(<%= raw @lat.to_json %>,<%= raw @lng.to_json %>);  
   // fsMap = new L.Map('map', {center: latlng, zoom:15, zoomControl:false, layers: [cloudmade], scrollWheelZoom : false});     
  L.tileLayer('http://{s}.tile.cloudmade.com/5e9427487a6142f7934b07d07a967ba3/997/256/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
      maxZoom: 18
  }).addTo(map);

  var marker = L.marker([51.5, -0.09]).addTo(map);

    marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();

    var popup = L.popup()
    .setLatLng([51.5, -0.15])
    .setContent("I am a standalone popup.")
    .openOn(map); 

    var popup = L.popup();//initialize a leaflet popup and assign it to a variable

    function onMapClick(e) {
        popup
            .setLatLng(e.latlng)
            .setContent("You clicked the map at " + e.latlng.toString())
            .openOn(map);//activate the 'popup'
    }

    map.on('click', onMapClick);


 });  
</script>