<div class = "row">
	<div class="span8 well">
		<legend><h4>Events we organize</h4></legend>
	</div>
	<div class="span3 well pull-right">
		<legend><h4><%= @country.name %></h4></legend>
		<div><%= image_tag(@country.flag) %></div>
		<div><%= @country.description %></div>
	</div>
</div>

<div class = "posts">
	<% all_posts.tagged_with(@country.name).each do |post| %>
		<h4><%= raw post.title %></h4>
		<%= raw post.content %>
	<% end %>
</div>