<% if admin_signed_in? %>
  <%= link_to 'New Post', new_post_path, class: "btn btn-primary pull-right" %>
<% end %>
<% @posts.each do |post| %>
  <% if post.published || post.published == nil %>
    <div class="posts">
      <h2><%= link_to post.title, post %></h2>
      <!--<pre>Posted at <%= post.created_at %><span class="pull-right">Share</span></pre>-->
      <%= raw post.content.split("\n")[0] %><br> <%= link_to "Read More. . .", post %>
      <% if post.tag_list.count > 0 %>
        <p>Tags:
        <% post.tag_list.each do |tag| %>
          <span class="label label-info"><%= link_to tag, tag_path(tag), style: "color:white;"%></span>
        <% end %>
        </p>
        <br>
      <% end %>
      <span class="admin">
        <% if admin_signed_in? %>
          <%= link_to 'Edit', edit_post_path(post) %> | 
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <br>
      </span>
    </div>
  <% end %>
<% end %>