<% provide(:title, 'Blog') %>
 <div id = "intro">
  <h1 id = "tagline">
    The Blog...
  </h1>

  <p>
   Story of the hacktrip...
  </p>
</div>

<div id="allmap" style="margin-bottom: 10px;">
   
</div>

<hr>
<h1 class = "home-title">5 Weeks / 4 Countries / 9 Hackers</h1>
<hr>

<!-- everything else below here is the blogposts -->

<% if admin_signed_in? %>
  <%= link_to 'New Post', new_post_path, class: "btn btn-primary pull-right" %>
<% end %>

<% @posts.each do |post| %>
  <% if post.published || post.published == nil %>
    <div class="posts">
      <div class="row">
        <div class="span8">
          <h2><%= link_to post.title, post %></h2>
          <span class = "post-details">Posted by: <%= @post.admin_id && Admin.find(@post.admin_id).first_name && Admin.find(@post.admin_id).last_name ? link_to author(post), author_path(Admin.find(post.admin_id)) + "/posts" : "" %> at <%= post.created_at %><span class="pull-right"><%= social_share_button_tag(post.title) %></span></span>
          <%= raw post.content %>
          <% if post.tag_list.count > 0 %>
            <p>Tags:
            <% post.tag_list.each do |tag| %>
              <span class="label label-info"><%= link_to tag, tag_path(tag), style: "color:white;"%></span>
            <% end %>
            </p>
          <% end %>
          <% if post.comments.count > 0 %>
            <%= link_to pluralize(post.comments.count, " comment") + " so far.", "/posts/"+post.id.to_s+"#comments", class: "links" %>
          <% else %>
            <%= link_to "Leave a Comment", "/posts/"+post.slug.to_s+"#add-comment", class: "links" %>
          <% end %>
          <br>
          <% if admin_signed_in? %>
            <span class="admin">
              <% if current_admin.email == 'admin@eurohacktrip.org' || (post.admin_id && post.admin_id == current_admin.id) %>
                  <%= link_to 'Edit', edit_post_path(post) %> 
                 | 
              <% end %>
              <% if current_admin.email == 'admin@eurohacktrip.org' %>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </span>
          <% end %>
          <br>
          
        </div>
      </div>
      <div class="span4"></div>
    </div>
  <% end %>
<% end %>
<%= will_paginate @posts, :container => true %>
