<% provide(:title, 'Articles by ' + request.fullpath.split("/")[1].split("-")[0] + " " + request.fullpath.split("/")[1].split("-")[1]) %>
<link rel="stylesheet" type="text/css" href="/assets/bootstrap.css">
<% if admin_signed_in? %>
  <%= link_to 'New Post', new_post_path, class: "btn btn-primary pull-right" %>
<% end %>

<% @posts.each do |post| %>
  <% if admin_signed_in? || post.published || post.published == nil %>
    <div class="posts">
      <div class="row">
        <div class="span8">
          <h2><%= link_to post.title, post %></h2>
          <span class = "post-details">Posted by: <%= link_to author(post), author_path(Admin.find(post.admin_id)) + "/posts" %> at <%= post.created_at %><span class="pull-right"><%= social_share_button_tag(post.title) %></span></span>
          <%= raw post.content %>
          <% if post.tag_list.count > 0 %>
            <p>Tags:
            <% post.tag_list.each do |tag| %>
              <span class="label label-info"><%= link_to tag, tag_path(tag), style: "color:white;"%></span>
            <% end %>
            </p>
          <% end %>
          <% if post.comments.count > 0 %>
            <%= link_to pluralize(post.comments.count, " comment") + " so far.", "/posts/"+post.id.to_s+"#comments", class: "links" %>
          <% else %>
            <%= link_to "Leave a Comment", "/posts/"+post.slug.to_s+"#add-comment", class: "links" %>
          <% end %>
          <br>
          <% if admin_signed_in? %>
            <span class="admin">
              <% if current_admin.is_admin || (post.admin_id && post.admin_id == current_admin.id) %>
                  <%= link_to 'Edit', edit_post_path(post) %> 
                 | 
              <% end %>
              <% if current_admin.is_admin %>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %> | 
                <% if !post.published %>
	              <%= link_to 'Publish', post_publish_path(post), method: :post, data: { confirm: 'Are you sure?' } %>
	            <% else %>
	              <%= link_to 'Unpublish', post_publish_path(post), method: :post, data: { confirm: 'Are you sure?' } %>
	            <% end %>
	              <% end %>
            </span>
          <% end %>
          <br>
          
        </div>
      </div>
      <div class="span4"></div>
    </div>
  <% end %>
<% end %>
