<% provide(:title, 'Blog | ' + @post.title) %>
<div id="map">
  
</div>

<p id="notice"><%= notice %></p>
<p>
  <h2><%= @post.title %></h2>
</p>
<pre>Posted at <%= @post.created_at %><span class="pull-right">Share</span></pre>
<p>
  <%= raw @post.content %>
</p>
<!--<ul class="nav nav-tabs">
  <li><a href="#comments" data-toggle="tab">Comments <span class="badge"><%= approved_comments_count(@post) %></span></a></li>
  <li><a href="#add-comment" data-toggle="tab">Add a Comment</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="comments">
    <% count = 0 %>
    <% @post.comments.each do |comment| %>
      <% if comment.approved %>
        <div class = "well">
          <%= link_to comment.commenter, "http://" + comment.website %> says:
          <span class = "pull-right"><%= comment.created_at.to_s.split(" ")[0] + " " + comment.created_at.to_s.split(" ")[1] %></span>
          <p>
            <%= comment.content %>
          </p>
        </div>
        <% else %>
          <% count = count + 1 %>
      <% end %>
    <% end %>
    <%= pluralize(count, " comment") %> pending approval
  </div>
  <div class="tab-pane" id="add-comment">
    <h2>Add a Comment</h2>
    <%= form_for([@post, @post.comments.build]) do |f| %>
      <div class="field">
        <%= f.label :commenter %><br>
        <%= f.text_field :commenter %>
      </div>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :website %><br>
        <%= f.text_field :website %>
      </div>
      <div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>-->
<% if PostSetting.last.allow_comments %>
<div id = "add-comment">
    <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'eurohacktrip'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){ 
  var map = L.map('map', {
    scrollWheelZoom: false,
    zoomControl: false,
    attributionControl: false,
  }).setView([51.505, -0.09], 13); 
   // var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/{key}/22677/256/{z}/{x}/{y}.png',  
   // cloudmadeAttribution = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 FirstFuel',  
   // cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution, key: 'xxxxxxxxxxxx'  
   // }),  
   // latlng = new L.LatLng(<%= raw @lat.to_json %>,<%= raw @lng.to_json %>);  
   // fsMap = new L.Map('map', {center: latlng, zoom:15, zoomControl:false, layers: [cloudmade], scrollWheelZoom : false});     
  L.tileLayer('http://{s}.tile.cloudmade.com/5e9427487a6142f7934b07d07a967ba3/997/256/{z}/{x}/{y}.png', {
      attribution: 'EuroHackTrip',
      maxZoom: 18
  }).addTo(map);

  var marker = L.marker([51.5, -0.09]).bindLabel("City").addTo(map);

    // var popup = L.popup();//initialize a leaflet popup and assign it to a variable
    // function onMapClick(e) {
    //     popup
    //         .setLatLng(e.latlng)
    //         .setContent("You clicked the map at " + e.latlng.toString())
    //         .openOn(map);//activate the 'popup'
    // }
    // map.on('click', onMapClick);

 });  
</script>
