<p id="notice"><%= notice %></p>

<p>
  <h2><%= @post.title %></h2>
</p>

<p>
  <pre><%= @post.content %></pre>
</p>
<p>Article viewed <%= pluralize($view_count, " time") %></p>
<ul class="nav nav-tabs">
  <li><a href="#comments" data-toggle="tab">Comments <span class="badge"><%= @post.comments.count %></span></a></li>
  <li><a href="#add-comment" data-toggle="tab">Add a Comment</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="comments">
    <% count = 0 %>
    <% @post.comments.each do |comment| %>
      <% if comment.approved %>
        <div class = "well">
          <div class="row">
            <div class="span6">
              <a href = "http://<%= comment.website %>"> <%= comment.commenter %> </a> says:
            </div>
            <div class="span6">
              <%= comment.created_at.to_s.split(" ")[0] + " " + comment.created_at.to_s.split(" ")[1] %>
            </div>
          </div>
            <p>
              <%= comment.content %>
            </p>
        </div>
        <% else %>
          <% count = count + 1 %>
      <% end %>
    <% end %>
    <%= pluralize(count, " comment") %> pending approval
  </div>
  <div class="tab-pane" id="add-comment">
    <h2>Add a Comment</h2>
    <%= form_for([@post, @post.comments.build]) do |f| %>
      <div class="field">
        <%= f.label :commenter %><br>
        <%= f.text_field :commenter %>
      </div>
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :website %><br>
        <%= f.text_field :website %>
      </div>
      <div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content %>
      </div>
      <div class="field">
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
